# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

.env
.env.*
*.key

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db